.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Information{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Information input{
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.Information select{
  width: 310px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.Information textarea{
  width: 800px;
  height: 150px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

button{
  width: 310px;
  height: 50px;
  margin-top: 15px;
}

button:hover{
  cursor: pointer;
}

.tickets{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.table,th,td{
  border:solid black 0.1px;
}

table{
  border-collapse: collapse;
}